@import url(global.css);
@import url(responsive.css);

// header css Start
.header{
    nav.navbar{
        .navbar-toggler{
            border: 0;
            &:focus{
                box-shadow: unset;
            }
        }
        .search_btn{
            button{
                &.btn-primary{
                    background-color: var(--theme-bg-clr);
                    border-color: var(--theme-bg-clr);
                }
            }
        }
    }
}
// /header css end

// banner section css start

// banner section css end

// about section css start

.about_section{
    .about_wrapper{
    background-color: var(--theme-bg-clr);
    padding: 1rem;
    .about_search_btn{
        .btn-light{
            background-color: var(--white-clr);
            text-decoration: none;
            color: var(--theme-bg-clr);
        }
    }
    }
}
// about section css end

// choose-us section css start
.choose_us_section{
    background-color: var(--theme-bg-alt-clr);

    .hosting_wrapper{
        border: 1px solid var(--theme-bg-clr);
        padding: 3rem;
        &.most_popular_card{
            padding: 2.4rem 3rem;
            background-color: var(--white-clr);
            border-color: transparent;
            .btn-light.active-clr{
                border-color: var(--theme-bg-clr) !important;
                color: var(--white-clr) !important;
            }
        }
        .hosting_card{
            .most_popular{
                .btn.btn-link.popular{
                    background-color: var(--theme-bg--button-clr);
                    color: var(--white-clr);
                    width: 100%;
                    padding: 0.8rem 0.4rem;
                }
            }
            .card_select_button{
                .btn-light{
                    padding: .8rem .4rem;
                    border: 1px solid var(--black-clr);
                    width: 80%;
                    text-decoration: none;
                    color: var(--black-clr);
                    &:hover{
                        background-color: var(--theme-bg-clr);
                        border-color: var(--theme-bg-clr);
                        color: var(--white-clr);
                    }
                }
            }
            .card_list{
                ul{
                    text-align: left;
                    padding-left: 2rem;
                    li{
                        a{
                            color: var(--theme-text-clr);
                            display: flex;
                            column-gap: .5rem;
                            
                            span{
                                display: inline-block;
                                aspect-ratio: 1/1;
                                width: 16px;
                                text-align: center;
                                i{
                                    font-size: 1rem;
                                    color: var(--black-clr);
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
// choose-us section css end

// footer css start
footer.footer{
    .footer_wrapper{
        .footer_social_icon{
            ul{
                li{
                    a{
                        img{
                            width: 35px;
                        }
                    }
                }
            }
        }
    }
}
// footer css end